.widgestSm{
flex: 1;
-webkit-box-shadow: 7px -1px 5px 8px rgba(245,245,245,1);
box-shadow: 7px -1px 5px 8px rgba(245,245,245,1);
padding: 20px;
margin-right:20px;
}
.widgetSmTitle{
font-size: 22px;
font-weight: 600;
}
.widgestSmImg{
width:50px;
height: 50px;
border-radius: 50%;
object-fit: cover;
}
.widgetSmList{
margin: 0;
padding: 0;
list-style: none;
}
.widgetSmListItem{
display: flex;
align-items: center;
justify-content:space-between;
margin: 20px 0px;
}
.widgestSmUser{
display: flex;
flex-direction: column;
}
.widgestSmUserName{
font-weight: 600;
}
.widgestSmUserTitle{
font-weight: 300;
}
.widgestSmButton{
display: flex;
align-items: center;
border-radius: 10px;
padding: 8px 10px;
background-color: floralwhite;
color: darkslategray;
cursor: pointer;

}
.widgestSmIcon{
font-size: 16px;
margin-right: 5px;
}