.chart{
margin: 20px;
padding: 20px;
-webkit-box-shadow: 7px -1px 5px 8px rgba(245,245,245,1);
-moz-box-shadow: 7px -1px 5px 8px rgba(245,245,245,1);
box-shadow: 7px -1px 5px 8px rgba(245,245,245,1);
}
.chartTitle{
margin-bottom: 20px;
}